<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="coverlet.*" />
            <package pattern="Microsoft.*" />
            <package pattern="nbgv" />
            <package pattern="Nerdbank.GitVersioning" />
            <package pattern="Newtonsoft.Json" />
            <package pattern="NuGet.*" />
            <package pattern="runtime.*" />
            <package pattern="Roslynator.*" />
            <package pattern="System.*" />
            <package pattern="xunit*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
